<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dojo Survey</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 survey-container">
                <h1>Dojo Survey</h1>
                <div class="well">
                    <br>
                    <form class="form-horizontal" action="/results" method="POST">
                        <div class="form-group">
                            <label for="#" class="col-sm-3 control-label">Your name</label>
                            <div class="col-sm-6">
                                <input type="text" name="fullName" class="form-control" placeholder="Jon Doe...">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="#" class="col-sm-3 control-label">Dojo Location</label>
                            <div class="col-sm-6">
                            <select name="location" class="form-control">
                                <option value="">Location</option>
                                <option value="Seattle">Seattle</option>
                                <option value="San Jose">San Jose</option>
                                <option value="Chicago">Chicago</option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="#" class="col-sm-3 control-label">Favorite Language</label>
                            <div class="col-sm-6">
                            <select name="language" class="form-control">
                                <option value="">Favorite Language</option>
                                <option value="Javascript">Javascript</option>
                                <option value="C Sharp">C#</option>
                                <option value="Python">Python</option>
                            </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-10">
                            <input type="submit" class="btn btn-primary" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>