<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dojo Survey</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="results-container">
                    <h1>Results</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="result-q">Full Name:</div>
                            <div class="result-q">Dojo Location:</div>
                            <div class="result-q">Favorite Language:</div>
                        </div>
                        <div class="col-md-6">
                            <div class="result-a">@ViewBag.fullName</div>
                            <div class="result-a">@ViewBag.location</div>
                            <div class="result-a">@ViewBag.language</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>